:root {
  --primary-color: #118a7e;
  --secondary-color: #faf3f3;
  --background-color: #dfd3d3;
  --accent-color1: #132f2b;
  --accent-color2: #7e8080;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --border: 5px double #a6a7a7;
}

body {
  margin: 75px 20px;
  padding: 10px;
  background-color: whitesmoke;
  font-family: "Fauna One", serif;
}
h1,
h2,
h3,
h5,
h6 {
  text-align: center;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin-top: 5px;
}

h3 {
  font-size: 18px;
  opacity: 0.7;
  margin: 0;
  color: var(--accent-color1);
}

h5,
h6 {
  font-size: 18px;
  margin: 0;
  color: var(--primary-color);
}

i {
  font-size: 30px;
  padding-top: 10px;
  color: var(--accent-color1);
}

i:hover {
  color: var(--primary-color);
}

hr {
  border-top: 3px dotted var(--primary-color);
  background-color: transparent;
  margin: 20px;
  margin-top: 40px;
}
.navbar {
  background: var(--background-color);
}

.hero {
  background: var(--secondary-color);
  border: var(--border);
  border-radius: 20px;
  padding: 10px;
}

#script-heading {
  background: var(--secondary-color);
  font-size: 22px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: var(--primary-color);
}

#resume {
  background: var(--secondary-color);
  font-size: 42px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: var(--primary-color);
}

.col-sm-5,
.col-sm-7 {
  padding: 4px;
  margin: 2px;
}

.container {
  margin: 0px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.work-container {
  text-align: center;
}

.col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.social-links {
  display: block;
  text-align: center;
}

.credits {
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  font-style: italic;
  margin-top: 15px;
  color: var(--accent-color2);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

#header-img {
  max-height: 55px;
  opacity: 0.8;
  border-radius: 100%;
}

#headshot-img {
  border-radius: 20px;
}

.border-hero {
  background: var(--secondary-color--);
  border: var(--border);
  border-radius: 20px;
  padding: 10px;
}

.btn {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 10px;
  margin: 5px;
}

a.btn:hover {
  background-color: var(--primary-color);
  background-blend-mode: lighten;
  -webkit-text-fill-color: var(--secondary-color);
}

.btn-sm {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 5px;
  margin: 0 auto;
  max-width: 40%;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--primary-color);
}

a.btn-sm:hover {
  background-color: var(--accent-color1);
  background-blend-mode: lighten;
  -webkit-text-fill-color: var(--secondary-color);
}

#portfolio-img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 10px;
  border: 2px solid var(--primary-color);
}

#resume-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 10px;
  border: 2px solid var(--primary-color);
}

#about-me {
  font-size: 16px;
}

.work-header {
  font-size: 28px;
}

p.card-text {
  font-size: 10pt;
  text-align: center;
}

.card {
  border: 1px solid var(--accent-color2);
  box-shadow: var(--box-shadow);
  padding: 5px;
  margin: 10px;
  background-color: transparent;
}

.nav-link.active {
  color: var(--primary-color) !important;
}

@media (max-width: 350px) {
  .card {
    margin: 5px;
  }

  body {
    margin: 20px 5px;
  }

  h1 {
    font-size: 24px;
    line-height: 1.5;
  }

  h2 {
    font-size: 14px;
    text-align: center;
  }

  h3,
  h5 {
    font-size: 14px;
    text-align: center;
  }

  i {
    font-size: 18px;
    padding-top: 6px;
  }

  #header-img {
    max-height: 35px;
    opacity: 0.8;
    border-radius: 100%;
  }

  #script-heading {
    font-size: 18px;
    margin-top: 10px;
    padding: 0px;
  }

  .dot {
    height: 30px;
    width: 30px;
    background-color: var(--background-color);
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
  }

  #portfolio-img {
    float: unset;
    align-content: center;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    shape-outside: none;
    margin: 10px;
    border: 2px solid var(--primary-color);
  }

  #about-me {
    font-size: 14px;
  }

  .mt-4 {
    margin-top: 12px !important;
  }

  .btn {
    padding: 10px;
    font-size: 32px;
  }

  body {
    margin: 60px 5px;
  }
  .work-header {
    font-size: 22px;
  }

  p.card-text {
    font-size: 12pt;
  }

  .container-lg {
    margin: 5px;
  }

  .row.m-4 {
    margin: 0px !important;
    margin-bottom: 10px !important;
  }
  hr {
    margin-top: 20px;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-body {
    padding: 10px 0px;
  }
}

@media (min-width: 351px) {
  h1 {
    font-size: 24px;
    line-height: 1.5;
  }

  h2 {
    font-size: 14px;
    text-align: center;
  }

  h3,
  h5 {
    font-size: 14px;
    text-align: center;
  }

  i {
    font-size: 18px;
    padding-top: 6px;
  }

  #header-img {
    max-height: 35px;
    opacity: 0.8;
    border-radius: 100%;
  }

  #script-heading {
    font-size: 18px;
    margin-top: 10px;
    padding: 0px;
  }

  .dot {
    height: 30px;
    width: 30px;
    background-color: var(--background-color);
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
  }

  #portfolio-img {
    float: unset;
    align-content: center;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    shape-outside: none;
    margin: 10px;
    border: 2px solid var(--primary-color);
  }

  #about-me {
    font-size: 14px;
  }

  .mt-4 {
    margin-top: 12px !important;
  }

  .btn {
    padding: 10px;
  }

  body {
    margin: 60px 5px;
  }
  .work-header {
    font-size: 22px;
  }

  p.card-text {
    font-size: 14pt;
  }

  .card {
    margin: 15px;
  }
  .container-lg {
    margin: 5px;
  }

  .row.m-4 {
    margin: 0px !important;
    margin-bottom: 10px !important;
  }

  hr {
    margin-top: 20px;
  }

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-body {
    padding: 10px 0px;
  }
}
@media (min-width: 766px) {
  #script-heading {
    font-size: 28px;
    padding: 10px;
  }
}
@media (min-width: 1020px) {
  #script-heading {
    font-size: 34px;
    padding: 15px;
  }
}
