:root {
  --primary-color: #118a7e;
  --secondary-color: #faf3f3;
  --background-color: #dfd3d3;
  --accent-color1: #132f2b;
  --accent-color2: #7e8080;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --border: 5px double #a6a7a7;
}

body {
  margin: 75px 20px;
  padding: 10px;
  background-color: whitesmoke;
  font-family: "Fauna One", serif;
}
h1,
h2,
h3 {
  text-align: center;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 52px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin-top: 5px;
}

h3 {
  font-size: 21px;
  opacity: 0.7;
  margin: 0;
  color: var(--accent-color1);
}

i {
  font-size: 30px;
  padding-top: 10px;
}

hr {
  border-top: 3px dotted var(--primary-color);
  background-color: transparent;
  margin: 20px;
  margin-top: 40px;
}
.navbar {
  background: var(--background-color);
}

.hero {
  background: var(--secondary-color);
  border: var(--border);
  border-radius: 20px;
  padding: 10px;
}

#quote {
  background: var(--secondary-color);
  font-size: 22px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: var(--primary-color);
}

.col-sm-5,
.col-sm-7 {
  padding: 4px;
  margin: 2px;
}

.container {
  margin: 0px;
  max-width: 100%;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.social-links {
  display: block;
  text-align: center;
}

.credits {
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  font-style: italic;
  margin-top: 15px;
  color: var(--accent-color2);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

#header-img {
  max-height: 55px;
  opacity: 0.8;
  border-radius: 100%;
}

#headshot-img {
  border-radius: 20px;
}

@media (max-width: 642px) {
  h1 {
    font-size: 24px;
    line-height: 1.5;
  }

  h2 {
    font-size: 14px;
    text-align: center;
  }

  h3 {
    font-size: 16px;
    text-align: center;
  }

  i {
    font-size: 18px;
    padding-top: 6px;
  }

  #header-img {
    max-height: 35px;
    opacity: 0.8;
    border-radius: 100%;
  }

  #quote {
    font-size: 18px;
    margin-top: 10px;
    padding: 0px;
  }

  .dot {
    height: 30px;
    width: 30px;
    background-color: var(--background-color);
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
  }
}
@media (min-width: 805px) {
  #quote {
    font-size: 28px;
    padding: 10px;
  }
}
@media (min-width: 1020px) {
  #quote {
    font-size: 34px;
    padding: 15px;
  }
}
